################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NeuralNetworksApp/FileContentIndex/dc64df33-526b-4090-b3e9-f1079f9e3220.vsidx
/.vs/NeuralNetworksApp/FileContentIndex/7ed18f3b-980c-4706-9498-fac32c37d431.vsidx
/.vs/NeuralNetworksApp/FileContentIndex/04ad4b63-0082-4132-aed0-f773fcbd3cee.vsidx
